extends layout

block content
  h1= title
  p Welcome to #{title}, #{user}!

  div.itemsView
    each item in todoItems
      div.todoItem
        a(href='/item/'+item.id)
          h3 #{item.title}
        label(for='todoItemCheck'+item.id)
        input(type='checkbox' id='todoItemCheck'+item.id checked=item.done)
