extends layout

block content
  var n = 0;
  h1= title
  p Welcome to #{title}, #{user}!

  div.itemsView
    each item in todoItems
      div.card
        div.card-block
          h4.card-title= item.title
          p.card-text
            input(type='checkbox' id='todoItemCheck'+item.id checked=item.done)